<mat-card>
  <mat-card-header>
    <mat-card-title>
      Container
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <!-- Counter   -->
    <app-counter (numberChanged)="onNumberChanged($event)" [counter]="counter"></app-counter>

    <!--  Components A and B   -->
    <app-a [counter]="counter"></app-a>
    <app-b [counter]="counter"></app-b>

    <!--    <app-a (numberChanged)="onNumberChanged($event)" [counter]="counter"></app-a>-->
    <!--    <app-b (numberChanged)="onNumberChanged($event)" [counter]="counter"></app-b>-->

  </mat-card-content>
</mat-card>
