<div fxFill fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column">
    <mat-form-field>
      <input [(ngModel)]="usernameModel"
             matInput
             placeholder='Username'
             required
             type="text">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="passwordModel"
             matInput
             min="8"
             placeholder='Password'
             required
             type="password">
    </mat-form-field>
    <button (click)="onLogin()"
            color="primary"
            mat-raised-button>
      Login
    </button>
  </div>
</div>
