<div>
  <mat-tab-group>

    <mat-tab label="Components">
      <div class="basic-container">
        <app-welcome></app-welcome>
      </div>
    </mat-tab>

    <mat-tab label="Profile">
      <div class="basic-container">
        <app-profile></app-profile>
      </div>
    </mat-tab>

    <mat-tab label="Users">
      <div class="basic-container">
        <app-user-list></app-user-list>
      </div>
    </mat-tab>

    <mat-tab label="Loading">
      <div class="basic-container">
        <app-loading></app-loading>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
