<div>
  <mat-tab-group>

    <mat-tab label="Angular">
      <div class="basic-container">
        <div fxLayout="row" fxLayoutAlign="center center">
          <app-angular-only></app-angular-only>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Angular with data service">
      <div class="basic-container">
        <div fxLayout="row" fxLayoutAlign="center center">
          <app-angular-with-service></app-angular-with-service>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Angular with Redux Store">
      <div class="basic-container">
        <div fxLayout="row" fxLayoutAlign="center center">
          <app-angular-with-store></app-angular-with-store>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Users">
      <div class="basic-container">
        <div fxLayout="row" fxLayoutAlign="center center">
          <app-user-list></app-user-list>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Users with Backend">
      <div class="basic-container">
        <div fxLayout="row" fxLayoutAlign="center center">
          <app-user-list-backend></app-user-list-backend>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Loading">
      <div class="basic-container">
        <div fxLayout="row" fxLayoutAlign="center center">
          <app-loading></app-loading>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Profile">
      <div class="basic-container">
        <div fxLayout="row" fxLayoutAlign="center center">
          <app-profile></app-profile>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
